<h1>New attendee</h1>

<%= render "form", attendee: @attendee %>
<br>

<div>
  <% if current_user && current_user.is_admin %>
  <%= link_to "Back to attendees", attendees_path %>
</div>
    <% end %>
</div>
