<tr>
  <td style="border: 1px solid black; padding: 8px;"><%= room.location %></td>
  <td style="border: 1px solid black; padding: 8px;"><%= room.capacity %></td>
  <% unless defined?(show_link) && !show_link %>
    <td style="border: 1px solid black; padding: 8px;">
      <%= link_to "Show this room", room %>
    </td>
  <% end %>
</tr>
