/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.table-bordered {
    width: 100%;
    border-collapse: collapse; /* Collapses the border */
}

.table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6; /* Sets the border color and width */
    padding: 8px; /* Adds some padding for content */
}

.table-bordered th {
    background-color: #f8f9fa; /* Optional: Sets a background color for header */
}

.cell-id { width: 100px; }
.cell-email { width: 100px; }
.cell-name { width: 100px; }
.cell-phone { width: 100px; }
.cell-address { width: 100px; }
.cell-credit-info { width: 100px; }
.cell-is-admin { width: 100px; }
.cell-actions { width: 100px; }

.show-attendee-table {
    border-collapse: collapse;
    width: 100%;
}

.show-attendee-table, .show-attendee-table td {
    border: 1px solid #dee2e6;
}

.show-attendee-table td {
    padding: 8px;
}
